<div class="row holder">

  <div class="col-xl-3">
          <p class="h3"> Minhaj publication Inc . </p>

          <pre class="h5">
1333 Potter Rd,
Antelope, CA 32802


Phone: +1 (647)-617-2404
Fax: +1 (647)-617-2404
Email: info@ikraa.com
          </pre>
    </div>

    <div class="col-xl-4">

      <p class="h3 heading-border">Latest News </p>
      <div class="row">
          <div class="col-sm-4 img-placeholder">
            <img src="https://dummyimage.com/640x360/fff/aaa" width="120px" height="50px"/>
            </div>
            <div class="col-sm-8 subject-placeholder">
              <p class="h6">
                  Sustainable Construction <br />
                  Mar 08, 2015
              </p>
              </div>
        </div>

        <div class="row">
            <div class="col-sm-4 img-placeholder">
              <img src="https://dummyimage.com/640x360/fff/aaa"  width="120px" height="50px"/>

              </div>
              <div class="col-sm-8 subject-placeholder">
                    <p class="h6">
                        Sustainable Construction <br />
                        Mar 08, 2015
                      </p>
                </div>
          </div>

          <div class="row">
              <div class="col-sm-4 img-placeholder">
                <img src="https://dummyimage.com/640x360/fff/aaa"  width="120px" height="50px"/>

                </div>
                <div class="col-sm-8 subject-placeholder">
                      <p class="h6">
                            Sustainable Construction <br />
                            Mar 08, 2015
                        </p>
                  </div>
            </div>



      </div>

      <div class="col-xl-3">
          <p class="h3 heading-border">Social Media </p>
        <div class="row">

              <div class="col-md-12 social-media-link"><span> Facebook</span></div>
              <div class="col-md-12 social-media-link"><span> Pinterest</span></div>
              <div class="col-md-12 social-media-link"><span> Twitter</span></div>
              <div class="col-md-12 social-media-link"><span> Instagram</span></div>


         </div>
         <p class="h3 heading-border">Call Us </p>

        <div class="row">
          <div class="col-md-12 social-media-link"><span>   +1 (641)-443-6751</span></div>
          <div class="col-md-12 social-media-link"><span> +1 (641)-321-8877</span></div>

        </div>


        </div>



  </div>
