<section class="footer">
  <div class="contaier"> 
    <div class="row">
        <div class=" col-xs-5 col-lg-5 col-sm-6">
          <div class="row1Content">
            <h4 >Minhaj publication Inc</h4>
            <p>1333 potter Rd ,</p>
            <p>Antelope, CA 32802</p>
            <br>
            <div class="contacts">
              <p>Phone: +1 (671)-671-2404</p>
              <p>Fax: +1 (671)-671-2404</p>
              <p>Email: info@ikraa.com</p>
           </div>
          </div>
        </div>
        <div class=" col-xl-5  col-lg-4 col-sm-6">
          <div class="col2Content">
              <h4>Last News</h4>
              <hr>
                 <div class="iedit">
                  <img src="../assets/images/Rectangle 40.png" class="float-left img-fluid" >
                  <p >Sustainable Construction</p>
                  <span class="float-left">Mar 08, 2015</span>
                 </div>
              
                <div class="clearfix"></div>

                <div class="iedit">
                  <img src="../assets/images/Rectangle 40.png" class="float-left img-fluid">
                  <p >Sustainable Construction</p>
                  <span class="float-left">Mar 08, 2015</span>
                </div>
               <div class="clearfix"></div>

              <div class="iedit">
                  <img src="../assets/images/Rectangle 40.png" class="float-left img-fluid">
                  <p>Sustainable Construction</p>
                  <span class="float-left">Mar 08, 2015</span>
              </div> 

            </div>
      </div>
          <div class=" col-xl-2 col-lg-3 col-sm-12">
            <div class="col3Content">
              <h4>Social Media</h4>
              <hr>
              <div class="socialMedia">
                  <p>
                    Facebook
                  </p>
                  <p>
                    Pintreest
                  </p>
                  <p>
                  Twitter
                  </p>
                  <p>
                    Instagram
                  </p>
              </div>
              <br>
              <h4>Call Us</h4>
              <hr>
                <div class="contactUs">
                  <p>+1 (641)-443-6751</p> 
                  <p>+1 (641)-321-8871</p>
                </div>  
          </div>
         
        </div>
    </div> 
  </div>
</section>
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col">
           <p class="text-center">copyright &copy; 2019 manhaj inc.All rights reserved</p>
      </div>
    </div>
  </div>
</section>

