<!-- first segment full background , code :ahmed sadat -->
<section class="fullground">
  <div class="row">
    <div class="col">
    </div>
  </div>
</section>
<!-- end first segment full background -->



<div class="holder">
  <div class="layer"> </div>
    <div class="row upper-info">
        <div class="col-lg-4 col-md-6 info col-xs-6" style="margin-left: 5vw" >
                <span >
                    <p class="h2"> Contact Info </p>
                      <p class="h5"> Minhaj publication Inc . </p>

                  1333 Potter Rd, <br />
                  Antelope, CA 32802  <br />
                      <br /> <br />
                  Phone: +1 (647)-617-2404 <br />
                  Fax: +1 (647)-617-2404
                  Email: info@ikraa.com
              </span>
          </div>

          <div class="col-lg-7 col-md-5 col-xs-5 info-map" >
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.8730745300722!2d-79.69701298450906!3d43.442366779129046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b5cffd489f939%3A0xc8fa7ef20626a908!2s485%20Morden%20Rd%2C%20Oakville%2C%20ON%20L6K%203W6%2C%20Canada!5e0!3m2!1sen!2seg!4v1568242866750!5m2!1sen!2seg"
                  height="280px" width="100%" id="map"  frameborder="0" style="border:0" ></iframe>
              </div>

        </div>

       <div class="container">
        <div class="row">
            <div class=" col-md-12 down-info" >
                <p class="h1" >Get in Touch </p>
                <span > Have questions about IKRAA programs or services? Let us help. Use our contact form<br /> and we’ll get back to you as soon as possible. </span>
            </div>
        </div>





  </div>


  <div class="contact-form main-form text-center" >
    <form>

      <div class="form-group">
        <input type="email" class="form-control form-control-lg" placeholder="Your Name* " id="name">
      </div>

      <div class="form-group">
        <input type="email" class="form-control form-control-lg" placeholder="Your E-mail* " id="email">
      </div>


      <div class="form-group form-check">
        <label class="form-check-label">
          <textarea class="form-control form-control-lg z-depth-1" id="exampleFormControlTextarea6" rows="3" cols="200" placeholder="Write your message here..."></textarea>
        </label>
      </div>

    <button type="button" class="btn btn-default form-control-lg">Submit</button>

    </form>

    </div>
  </div>
