

  
      <div class="segment1">
            <div class="ejaza">
                  <p class="text-center">Ejaza</p>
            </div>
      </div>

      <div class="segment2">
            <div class="container">
               <div class="row">
                  <div class="ej">
                     <h1>About EJAZA</h1>
                     <p >
                        Have questions about IKRAA programs or services? Let us help. Use our contact form and we’ll get back to you as soon as possible. Have questions about IKRAA programs or services? Let us help. Use our contact form and we’ll get back to you as soon as possible.Have questions about IKRAA programs or services? Let us help. Use our contact form and we’ll get back to you as soon as possible.Have questions about IKRAA programs or services? Let us help. Use our contact form and we’ll get back to you as soon as possible.
                     </p>
                  </div>
               </div>
           </div>
      </div>
      
 

