<header class="masthead " id="back">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
      <div class="col-lg-7">
          <div class="container">

            <div class="col-lg-12">
                <img src="../../assets/images/ekraa.png" class="d-md-none img-fluid mx-auto d-block wow zoomIn">
            </div>

            <div class="col-1g-12">
                <p class="head1  font-weight-light hvr-grow " >   اقْرَأْ بِاسْمِ رَبِّك الَّذِي خَلَقَ </p>

            </div>

            <div class="col-1g-12">

              <p class="head2 lead text-center hvr-pulse" style="font-size: 30px">Recite  in the name of your Lord</p>
            </div>
            <p class="first lead text-center">اقْرَأْsfafsfs بِاسْمِ رَبِّكَ </p>
            <p class="second lead text-center">Recite in the name of your Lord</p>

         </div>
      </div>
        <div class="col-lg-5 khra">
          <div class="bekraa wow zoomIn" id="bekraa">

          </div>
        </div>
    </div>
  </div>
</header>

<app-description> </app-description>
<app-our-products></app-our-products>
