<header class="masthead " id="back">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
      <div class="col-lg-8">
          <div class="tako">

            <input type="text" placeholder="Submit" class="d-md-none" />

                    <img src="../../assets/images/ekraa.png" class="col-lg-12 d-md-none img-fluid mx-auto d-block wow zoomIn">

                    <h1 class="head1  font-weight-light hvr-grow col-lg-12" style="font-size: 65px">   اقْرَأْ بِاسْمِ رَبِّك الَّذِي خَلَقََ </h1>

                    <p class="head2 lead hvr-pulse" style="font-size: 30px">Recite  in the name of your Lord</p>
                    <h1 class="first lead text-center">اقْرَأْ بِاسْمِ رَبِّكَ َ</h1>
                    <p class="second lead ">Recite in the name of your Lord</p>
            </div>
      </div>
        <div class="col-lg-4 khra">
          <div class="bekraa wow zoomIn" id="bekraa">

          </div>
        </div>
    </div>
  </div>
</header>

<app-description> </app-description>
<app-our-products></app-our-products>
