<div class="pos-f-t">
  <nav class="navbar navbar-expand-sm ">

    <div class="container">

         <ul class="nav navbar-nav mx-auto">
             <li class="nav-item"><span class="nav-link selected-item" href="#">Home</span></li>
             <li class="nav-item">
                 <span class="nav-link" href="#">About</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">Contacts</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">Contact</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">Lessons</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">Contact</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">Exercise</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">EJAZA</span>
             </li>
             <li class="nav-item">
                 <span class="nav-link" href="#">Our products</span>
             </li>
         </ul>

     </div>

  </nav>
</div>
