<section class="LBack">
  <div class="LWord">
    <p>lessons</p>
  </div>
</section>
<section class="diamondChoice">
  <div class="diamondChoiceMask">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 diamond">
          <a><img src="../../../assets/images/lesspol.png" class="img-fluid mx-auto d-block"></a>
        </div>
        <div class="col-lg-4 diamond">
          <a><img src="../../../assets/images/eplpol.png" class="img-fluid mx-auto d-block"></a>
        </div>
        <div class="col-lg-4 diamond">
          <a><img src="../../../assets/images/quranic.png" class="img-fluid mx-auto d-block"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="back">
  <div class="backWord">
    <p>lessons</p>
  </div>
  <div class="container">
    <div class="row 1">
      <div class="col-lg-2 justify-content-center">
        <a>
          <div class="lessNum">
            <p>1</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>2</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>3</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>4</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>5</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>6</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row 2">
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>7</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>8</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>9</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>10</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>11</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>12</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row 3">
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>13</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>14</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>15</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>16</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>17</p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a>
          <div class="lessNum">
            <p>18</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>