.row{

  background-image: url("../../../assets/images/Component4–1.png") ;

    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin: 0;
}
.image, img{
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 6vw;
}


.desc{
  margin: 0;
  margin-top: 2vw;

  color: white
}
