.des{

  background-image: url("../../../assets/images/Component4–1.png") , url("../../../assets/images/upper.png") ;
    
  background-size: cover;
  background-position: center , center bottom;
  background-repeat: no-repeat , no-repeat;
    height: 100%;
    width: 100% ; 
    padding: 40px ;
}

.des img {
   
  margin-bottom: 10px ;

}

.des p {

  color: #FFF8F8 ;
  margin-right: 10px ;
}