.hodler{
  width: 100vw;
  background-image: url("../../../assets/images/Mask_Group_3.png");
  color: #484848;
  margin: 0;
}

.row{
  margin: 0;

  justify-content: center;

}

.title{
  margin: 0;

  align-items: center;
  align-content: center;
  text-align: center;
   justify-content: center;

}

.subjects{
  margin: 0;

  margin-top: 2vw;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;

}

.problem {

  width: 220px ;
  height: 220px;
}
