<div class="hodler">

    <div class="row title">
       <p class="h1"> OUR Products</p>

    </div>

    <div class="row subjects">

        <div class="col-lg-4">

          <img src="../../../assets/images/big.png" class="problem rounded-circle hvr-bounce-in"  />
           <p class="h1">Book</p>

          </div>

          <div class="col-lg-4">
            <img src="../../../assets/images/edit.png" class="hvr-bounce-out"  />
             <p class="h1"> workbook</p>

            </div>

            <div class="col-lg-4">
              <img src="../../../assets/images/group.png" />
              <p class="h1"> EJAZA</p>
              </div>
    </div>



</div>
