<div class="hodler">

    <div class="row title">
       <p class="h1"> OUR Products</p>

    </div>

    <div class="row subjects">

        <div class="col-lg-4">

          <img src="../../../assets/images/big.png" class="problem rounded-circle wow fadeInLeft" data-wow-delay="0.2s" />
           <p class="h1">Book</p>

          </div>

          <div class="col-lg-4">
            <img src="../../../assets/images/edit.png" class=" wow fadeInLeft" data-wow-delay="0.4s" />
             <p class="h1"> workbook</p>

            </div>

            <div class="col-lg-4">
              <img src="../../../assets/images/group.png" class=" wow fadeInLeft" data-wow-delay="0.6s"/>
              <p class="h1"> EJAZA</p>
              </div>
    </div>



</div>
