<!-- contacts component by ahmed sadat -->

<!-- fullbackground  -->

<section>
    <div class="full">
    </div>
</section>

<!-- end fullbackground  -->

<section >
  <div class="back1">
         <div class="content ">
           <div class="container">
             <div class="row">
           <span>
            In the name of Allah, The Most Gracious, The Most Merciful<br>
            All praise is to Allah revealer of the Holy Quran, and peace and blessings upon the best of humanity.
             May Allah be pleased with his messenger’s followers in every time and place; Oh Allah, with your graciousness and generosity, make us from amongst them.<br>
            No book has brought honour to the people as the Quran has, and how would it, when the Quran is the word of Allah, delivered by the angel Gabriel upon the best of humanity, so that He may be a bringer of glad tidings and a warner to humanity, with a pure Arabic tongue. <br>
            And as each Muslims generation inherits the Quran from the generation before it, preserving its words, letters, handwriting, and delivery, to achieve the ranks of the successful followers, they deliver it to the next generation just as they heard it, adding only what will benefit the future generations in learning it, such as dots and vowelization, which the previous generations had no need for.<br>
            Here we are following in the footsteps of those before us, presenting this book so that it may help every Muslim – by the will of Allah – read the Quran without the need of assistance.
          </span>
          </div>
         </div>

         </div>
</div>
</section>
<section>
  <div class="mask">
    <div class="control">
    <span>
      In the name of Allah, The Most Gracious, The Most Merciful<br>
      All praise is to Allah revealer of the Holy Quran, and peace and blessings upon the best of humanity.
       May Allah be pleased with his messenger’s followers in every time and place; Oh Allah, with your graciousness and generosity, make us from amongst them.<br>
      No book has brought honour to the people as the Quran has, and how would it, when the Quran is the word of Allah, delivered by the angel Gabriel upon the best of humanity, so that He may be a bringer of glad tidings and a warner to humanity, with a pure Arabic tongue. <br>
      And as each Muslims generation inherits the Quran from the generation before it, preserving its words, letters, handwriting, and delivery, to achieve the ranks of the successful followers, they deliver it to the next generation just as they heard it, adding only what will benefit the future generations in learning it, such as dots and vowelization, which the previous generations had no need for.<br>
      Here we are following in the footsteps of those before us, presenting this book so that it may help every Muslim – by the will of Allah – read the Quran without the need of assistance.

    </span>
  </div>
  </div>
</section>
